<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
	
  <div class="wrapper">
	<div class="container">
		<h1>Manager Center <span style="font-size: 15px; font-weight: initial;">v.1.1</span></h1>
		
		<form class="form">
			<input type="text" ng-model="data.username" placeholder="Username">
			<input type="password" ng-model="data.password" placeholder="Password">
      <!--<a style="display: block;width:300px; text-align:left; margin: 0 auto 10px auto; text-decoration: none; color: #fff; font-weight: lighter" confirmed-click="forgot(data)" ng-confirm-click="Are you sure forgot passowrd ?" href="">forgot your password ?</a>-->
      <a style="display: block;width:300px; text-align:left; margin: 0 auto 10px auto; text-decoration: none; color: #fff; font-weight: lighter" href="" ng-click="forgot(data)">forgot your password ?</a>
			<button id="login-button" ng-click="login(data)">Login</button>
		</form>
	</div>
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

  <script src='js/jquery-2-1-3.min.js'></script>
  <script src="js/login.js"></script>
</body>
</html>
