<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Change Your Password</h4>
        </div>

        <div class="modal-body" style="padding-bottom: 0px;">
<div class="input-field col s6">
    <label for="password">Password</label>
    <input id="password" type="password" ng-model="data.password" class="validate" required>
</div>
<br/>
<div class="input-field col s6">
    <label for="password">New Password</label>
    <input id="password" type="password" ng-model="data.newpassword" class="validate" required minlength="6">
</div>
</div>

<div class="modal-footer" style="padding: 7px; border-top: transparent">
<button type="button" class="btn waves-effect waves-light  green darken-4" ng-click="Changepass(data)">Okay</button>
<button type="button" class="btn grey darken-4" data-dismiss="modal">Close</button>
</div>
</div>
</div>