<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Work Calendar</h4>
        </div>

        <div class="modal-body" style="padding-bottom: 0px;">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <th style="text-align: center">Monday</th>
            <th style="text-align: center">Tuesday</th>
            <th style="text-align: center">Wednesday</th>
            <th style="text-align: center">Thursday</th>
            <th style="text-align: center">Friday</th>
            <th style="text-align: center">Saturday</th>
</tr>
</thead>
<tbody style="color:blue; text-align: center">
<tr>
    <td>{{detail_work_auth.Monday}}</td>
    <td>{{detail_work_auth.Tuesday}}</td>
    <td>{{detail_work_auth.Wednesday}}</td>
    <td>{{detail_work_auth.Thursday}}</td>
    <td>{{detail_work_auth.Friday}}</td>
    <td>{{detail_work_auth.Saturday}}</td>
</tr>
</tbody>
</table>
</div>
</div>

<hr style="margin-bottom: 0; width: 95%"/>
<div class="modal-footer" style="padding: 7px; border-top: transparent">
<button id="closes" type="button" class="btn grey darken-4" data-dismiss="modal">Close</button>
</div>
</div>
</div>